# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*

# Вспомогательные файлы
*.log
npm-debug.log*
node_modules/

# Папка с собранными файлами проекта
build/

# Локальные файлы конфигураций
.env

# Сгененированные данные
*.json
!package.json
!package-lock.json

* Файлы базы данных
data/
!data/.gitkeep

* Переменные окружения в файле
.env

* Логи
combined.log
error.log